:root {
    --background-color1-1: #2a2a2a;
    --background-color1-2: #202020;
    --background-color2-1: #f3f3f3;
    --background-color2-2: #dfdfdf;
    --background-color2-2-faded: #dfdfdf00;
    --text-color1: #f7f7f7;
    --text-color2: #1a1a1a;
    --highlight-color: #FFBA2F;
    --navbar-color: #fdc24b;
}