@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --background-color1-1: #2a2a2a;
    --background-color1-2: #202020;
    --background-color2-1: #f3f3f3;
    --background-color2-2: #dfdfdf;
    --background-color2-2-faded: #dfdfdf00;
    --text-color1: #f7f7f7;
    --text-color2: #1a1a1a;
    --highlight-color: #FFBA2F;
    --navbar-color: #fdc24b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "League Spartan", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color);
}

.dark-mode {
    background-image: linear-gradient(to top , var(--background-color1-1), var(--background-color1-2));
    color: var(--text-color1);
    position: relative;
    z-index: 1;
}

.light-mode {
    background-image: linear-gradient(to bottom , var(--background-color2-1), var(--background-color2-2));
    color: var(--text-color2);
    position: relative;
    z-index: 1;
}

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    background-color: var(--navbar-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: min(10%, 100px);
}

.navbar .nav-titles {
    color: var(--text-color2);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
}

.navbar .nav-titles:hover {
    cursor: pointer;
}

@keyframes fade-in-highlight {
    from {
        background-color: var(--background-color2-2-faded);
    }
    to {
        background-color: var(--background-color2-2);
    }
}

.selected {
    background-color: var(--background-color2-1);
    border-radius: 12px;
}

.highlight {
    background-color: var(--background-color2-2);
    border-radius: 12px;
    animation: 0.5s fade-in-highlight;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-section-fade-in {
    animation: 1.5s fade-in-animation ease-in
}

.fade-in {
    animation: 1s fade-in-animation linear;
}

.start-faded-out {
    opacity: 0;
}

.home-section {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10%;
}

.home-section-image-div {
    width: max(23%, 200px);
    aspect-ratio: 3/4;
    position: relative;
    z-index: 3;
}

.home-section-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 3;
}

@property --angle {
    syntax : "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes home-image-spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.home-section-image-div::after, .home-section-image-div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 25%, var(--highlight-color));
    border-radius: 13px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    padding: 4px;
    animation: 5s home-image-spin linear infinite;
}

.home-section-image-div::before {
    filter: blur(2.5rem);
    will-change: filter;
    opacity: 0.6;
}

.home-section-text-div {
    position: relative;
    padding-bottom: 10%;
}

.home-section-text-div h1 {
    font-size: max(4vw, 1.8rem);
}

.home-section-text-div h2 {
    font-weight: 100;
    text-align: right;
    font-size: max(1.7vw, 1rem);
    padding-top: 5px;
    font-style: italic;
}

.home-section-socials-div {
    margin-top: 25px;
    display: flex;
    justify-content: right;
    column-gap: 15px;
}

.home-section-socials-div .socials {
    color: var(--text-color1);
    text-decoration: none;
    font-size: max(1.7vw, 1.1rem);
    position: relative;
}

.home-section-socials-div .socials:hover {
    cursor: pointer;
}

.home-section .cv-button {
    margin-top: 15%; 
    padding: 7px;
    width: 40%;
    height: 20%;

    position: absolute;
    right: 50%;
    translate: 50% 0%;

    background-color: transparent;
    color: var(--text-color1);
    font-family: Lato;
    border: 2px solid var(--highlight-color);
    border-radius: 30px;
}

.home-section .cv-button::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border: 5px solid var(--highlight-color);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    filter: blur(1rem);
    will-change: filter;
    opacity: 0.5;
}

.home-section .cv-button-text {
    font-weight: bold;
    font-size: calc(1.1vw + 3px);
}

.home-section .cv-button:hover {
    cursor: pointer;
    background-color: #474747c2;
}

@media (max-width: 869px) {
    .home-section .cv-button {
        height: 25%;
    }
}

.section-split {
    position: relative;
    top: -60px;
}

.about-section {
    width: 100%;
    padding: 60px 40px 40px 40px;
    text-align: center;
}

.about-section h2 {
    font-size: calc(3vw + 5px);
    margin-bottom: 15px;
    color: var(--highlight-color);
}

.about-section .about-me-text {
    font-size: calc(1vw + 6px);
    line-height: 130%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.about-section .about-div {
    padding-top: 5px;
    margin: 0 auto 5% auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    column-gap: 2vw;
    row-gap: 1vw;
}

.about-section .language-skill {
    font-size: calc(4vw + 3px);
    border: 2px solid var(--text-color2);
    border-radius: 10px;
    padding: 7px;
    position: relative;
}

.about-section .about-hovered {
    content: "";
    background-color: transparent;
    color: #111;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    font-size: calc(30% + 2px);
    font-weight: bold;
    padding: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#cli:hover, #cpp:hover {
    color: #5390cc;
}

.projects-section {
    width: 100%;
    height: 1000px;
}

@media (max-aspect-ratio: 39/64) {
    .home-section-image-div {
        margin-top: 20%;
    }
    .home-section-text-div {
        margin-bottom: 35%;
    }
    .home-section-text-div h2 {
        text-align: center;
        border-bottom: 1px var(--text-color1) solid;
        padding-bottom: 5%;
    }
    .home-section-socials-div {
        margin-top: 10%;
        justify-content: center;
        column-gap: 10%;
    }
    .home-section-socials-div .socials {
        font-size: 1.75rem;
    }
    .home-section .cv-button {
        margin-top: 20%;
        width: 90%;
        height: 45%;
    }
    .home-section .cv-button-text {
        font-size: 3.5vw;
    }

    .about-section {
        padding: 1px 20px 40px 20px;
    }
    .about-section h2 {
        font-size: 7vw;
        margin-top: 50px;
    }
    .about-section .about-me-text {
        font-size: 3.2vw;
        width: 90%;
    }
    .about-section .about-div {
        width: 90%;
    }
    .about-section .language-skill {
        font-size: 9vw;
    }
}